body {
    background-color: rgb(245, 245, 245);
    font-family: Arial;
    Margin: 0;   
}

header {
    background-color: rgb(23, 203, 223);
    width: 100%;
    box-shadow: 0 0 10px #2e2d2d;
    padding: 1px;
    box-sizing: border-box;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav a {
    text-decoration: none;
    color: rgb(8, 84, 247);
    margin: 15px;
}

h1 {
    text-align: center;
    color: blue;
}
.centro {
    /*tamanho - largura */
    width: 1000px;
    /* centralizar */
    margin: auto;
}

.centro {
    /* centralizar */
    margin: auto;
}