*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 201, 250);
    font-family: Arial;
    Margin: 0;   
}


.title {
    color: rgb(4, 12, 248);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}

.Navegacao {
    position: absolute;
    top: 0;
    right: 0;
}

.Navegacao nav {
    float: right;
}

.Navegacao nav a {
    text-decoration: none;
    color: rgb(8, 84, 247);
    margin: 15px;
}

.centro {
    /*tamanho - largura */
    width: 1000px;
    /* centralizar */
    margin: auto;
}

.centro {
    /* centralizar */
    margin: auto;
}

.telaFundo {
    background-image: url("imagem/vecteezy_ocean-background-in-vector_280778.jpg");
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
